In [1]:
print("Hello World")

Hello World

In [2]:
import pandas as pd
from googleapiclient.discovery import build
import pymysql
import pymongo
import streamlit as st
import matplotlib.pyplot as plt
import seaborn as sns
from streamlit_option_menu import option_menu

In [3]:
def api_Connection():
    
    api_key = 'AIzaSyD1kSkZAhkpaqZvCKUZ_x3Aiz1IR_MzQVc'
    api_service_name = 'youtube'
    api_version = 'v3'

    youtube=build(api_service_name,api_version,developerKey=api_key)
    
    return youtube

youtube = api_Connection()

In [6]:


channel_id = "UCYcU_y3brQedosHrs9VwAzg"

request = youtube.channels().list(
    part="snippet,contentDetails,statistics",
    id=channel_id)

response = request.execute()

for i in response['items']:
    data = dict(Channel_name = i['snippet']['title'],
                Channel_Id = i['id'],
                Channel_Subscribers = i['statistics']['subscriberCount'],
                Channel_Views = i['statistics']['viewCount'],
                Channel_Total_Videos = i['statistics']['videoCount'],
                Channel_Description = i['snippet']['description'],
                Channel_playlist_Id = i['contentDetails']['relatedPlaylists']['uploads'])


data

{'Channel_name': 'Siravaiyin Kural - சிரவையின் குரல்',
 'Channel_Id': 'UCYcU_y3brQedosHrs9VwAzg',
 'Channel_Subscribers': '2300',
 'Channel_Views': '291864',
 'Channel_Total_Videos': '180',
 'Channel_Description': 'திருப்புகழ் மற்றும் முருகப்பெருமான் பாடல்களைக் கேட்க, ஓதுவாமூர்த்திகள் பாடுவதைப் பார்க்க, Siravaiyin Kural - சிரவையின் குரல் உருவாக்கப்பட்டுள்ளது\nhttps://www.youtube.com/channel/UCYcU_y3brQedosHrs9VwAzg\nதொடர்புக்கு: 93847 71849\n',
 'Channel_playlist_Id': 'UUYcU_y3brQedosHrs9VwAzg'}

In [21]:
client=pymongo.MongoClient("mongodb+srv://akshaya08:Abhi1%40aks@cluster0.s7e4jmk.mongodb.net/")
db=client["Youtube_data"]
#To Connect with SQL Database
def sql_connect():
    mydb=pymysql.connect(host="qn66usrj1lwdk1cc.cbetxkdyhwsb.us-east-1.rds.amazonaws.com",
                    user="c7vxy08pcs9fuvum",
                    password="v10q2u5vkxnoyen3",
                    database="ita2g6ato5l2k3my",
                    port=3306)

    cursor=mydb.cursor()
    
    return cursor,mydb

#Table creation and migrating selected channel data into SQL Table from MongoDB - channel_data

In [11]:
new_channel_data="Heartfulness Tamil"
Channel_Data_sqltable(new_channel_data)

Channel Details already exists

False

In [12]:
df_Channel_Data

NameError: name 'df_Channel_Data' is not defined

In [23]:
cursor,mydb = sql_connect()
create_query =  '''
    CREATE TABLE IF NOT EXISTS Channel_data (
        Channel_name VARCHAR(100) NOT NULL, 
        Channel_Id VARCHAR(100) PRIMARY KEY,  
        Channel_Subscribers BIGINT DEFAULT 0,  
        Channel_Views BIGINT DEFAULT 0,      
        Channel_Total_Videos INT DEFAULT 0,   
        Channel_Description TEXT,             
        Channel_playlist_Id VARCHAR(100)    
    ) '''
    
cursor.execute(create_query)
mydb.commit()
    
Channel_Data=[]
collection=db["Channel_Data"]
for channel_data in collection.find({'Channel_Details.Channel_name':'Heartfulness Tamil'},{"_id":0}):
    Channel_Data.append(channel_data['Channel_Details'])
    df_Channel_Data = pd.DataFrame(Channel_Data[0])

for index,row in df_Channel_Data.iterrows():
    insert_query =  '''
            INSERT INTO Channel_data (
                Channel_name, 
                Channel_Id,  
                Channel_Subscribers,  
                Channel_Views,      
                Channel_Total_Videos, 
                Channel_Description,             
                Channel_playlist_Id)
                
                VALUES(%s,%s,%s,%s,%s,%s,%s) ''' 
    values=(row['Channel_name'],
            row['Channel_Id'],
            row['Channel_Subscribers'],
            row['Channel_Views'],
            row['Channel_Total_Videos'],
            row['Channel_Description'],
            row['Channel_playlist_Id'])


    cursor.execute(insert_query,values)
    mydb.commit()

OperationalError: (1142, "INSERT command denied to user 'c7vxy08pcs9fuvum'@'122.173.255.176' for table 'Channel_data'")

In [14]:
df_Channel_Data

,Channel_name,Channel_Id,Channel_Subscribers,Channel_Views,Channel_Total_Videos,Channel_Description,Channel_playlist_Id
0,Heartfulness Tamil,UCZN9orWT5DeQQQ5_NPWtkBQ,25100,1506749,289,ஹார்ட்ஃபுல்னெஸ் தியானம் என்பது இதய அடிப்படையில...,UUZN9orWT5DeQQQ5_NPWtkBQ